#nav-bar {
    
    position: fixed;
    width: 10%;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 20px;
    right: 0;
    padding: 10px;
}

nav h2 {
    text-align: right;
    direction: rtl;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: white;
    /* רקע לכל תגית h2 */
    transition: background-color 0.3s;
    border-bottom: 1px green solid;
}

nav h2:hover {
    background-color:  #9cb6a5;

}

.active {
    background-color: lightblue;
    /* הדגשת פריט פעיל, כמו בתמונה ששלחת */
}
#nav-select{
display: none;
float: right;
}
@media only screen and (max-width: 800px) {
    #nav-bar{
        display: none;
    }
    #nav-select{
        display: block;
        background-color: rgb(95, 123, 90);
    }
}