#nav-bar {
    background-color: rgb(203, 196, 196);
    min-width: 235px;
    width: 15%;
    flex-direction: column;
    min-width: 235px;
    width: 10%;
    padding-top: 40px;
    padding-left: 20px;
    position: absolute;
    right: 0;
    padding: 10px;
}

nav h2 {
    text-align: right;
    direction: rtl;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: white;
    /* רקע לכל תגית h2 */
    transition: background-color 0.3s;
}

nav h2:hover {
    background-color: lightblue;

}

.active {
    background-color: lightblue;
    /* הדגשת פריט פעיל, כמו בתמונה ששלחת */
}